.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input {
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 200px;
  background-color: gray;
  border: none;
  border-radius: 15px;
  box-shadow: inset 5px 3px  7px  black ;
  
}
.button {
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 200px;
  border: none;
  background-color: gray;
  box-shadow: 2px 4px 7px;

  border-radius: 15px;
}

.button:hover{
  box-shadow: 2px 2px 7px;
}
