.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input {
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 200px;
  background-color: lightgray;
  border: none;
  border-radius: 15px;
}
.button {
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 200px;
  border: none;

  border-radius: 15px;
}
