.item {
  width: max-content;
  font-size: 20px;
  background-color: darkseagreen;
  box-shadow: 2px 2px 2px black;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.item:hover{
  background-color: rgb(113, 153, 113);
}
.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
}
.button {
  width: 80px;
  font-size: 20px;
  border: none;
  background-color: white;
  margin-left: 12px;
  border-radius: 15px;
}
